<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tobiapplications.com.moviebase">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.detail.DetailActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.NavigationActivity"
            android:theme="@style/CustomToolbarTitle">
        </activity>

        <!-- Provider -->
        <provider
            android:name=".database.MoviesProvider"
            android:authorities="tobiapplications.com.moviebase.movies"
            android:exported="false" />
        <provider
            android:name=".database.SeriesProvider"
            android:authorities="tobiapplications.com.moviebase.series"
            android:exported="false" />

    </application>

</manifest>